<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
</head>
<style>
     .view{
        height: 100vh;

    }
    .login{
        width: 500px;
    }
    .login h1{
        text-align: center;
    }
    .login form input{
        display: block;
        width: 500px;
        height: 40px;
    }
    .login form label{
        align-items: center;
    }
    .login-inner{
        padding: 10px;
        text-align: center;
    }
    .login p{
        text-align: center;
    }

</style>
<body style="background-color: brown;">
    <section class="view d-flex justify-content-center align-items-center">
        <div class="login">
            <h1>JOIN US!</h1>
            <form method="POST" action="/sign/">
                {% csrf_token %}
                <label>UserName</label>
                <input type="text" name="user_name" placeholder="Enter Your name" required>
                <label>Password</label>
                <input type="text" name="password" placeholder="********" required>
                <label for="email">E-mail ID</label>
                <input type="email" name="email_id" placeholder="xyz@gmail.com" required>
                <div class="login-inner">
                    <button type="submit" class="btn btn-success">
                        Join Us
                    </button>
                </div>
               
            </form>
            <h2 style="color:red;">{{msg}}></h2>
        </div>
    </section>
</body>
</body>
